<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.micro.mapper.UserMapper">

    <insert id="register">
       insert user values (null,#{user_name},#{user_nickname},#{user_password},1,null,#{user_gender},
       #{user_birthday},#{user_address},#{user_homeplace},null,#{user_phone})
    </insert>

</mapper>