<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.micro.mapper.ProductImageMapper">

    <select id="findProductImages" resultType="com.micro.pojo.ProductImage">
        select * from productimage where productimage_product_id=#{product_id}
    </select>

</mapper>