<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.mapper.ProductImageMapper">
    <insert id="ProductImageAdd" >
        insert productimage values (null,#{productimage_type},#{productimage_src},#{productimage_product_id})
    </insert>
</mapper>