<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.mapper.RoleMapper">
    <select id="findRoleByAdmin_Id" resultType="com.it.bean.Role">
           SELECT role.* FROM role INNER JOIN admin_role ON role.r_id=admin_role.role_id WHERE admin_role.admin_id=#{admin_id}
    </select>

    <select id="findRoles" resultType="com.it.bean.Role">
        select *from role
    </select>

</mapper>